<section class="container mx-auto h-[80vh]">
  <div class="flex items-center justify-center h-full shadow-lg rounded">
    <div class=" w-[500px] bg-secondary flex flex-col gap-2 p-8 shadow-md">
      <h1 class="text-2xl font-black text-center text-primary drop-shadow-2xl">Login</h1>
      <p class="text-sm text-center text-primary mb-4">Please login to your admin account to post a blog</p>
      <div class="flex flex-col gap-3">
        <div class="relative">
          <input class="rounded outline-none border-[1px] px-6 py-2 shadow w-full" placeholder="Email Address" autocomplete="off" name="email" type="email">
          <!-- <label class="pointer-events-none absolute top-1/2 left-3 -translate-y-1/2" for="email">Email Address</label> -->
        </div>
        <div class="relative">
          <input class="rounded outline-none border-[1px] px-6 py-2 shadow w-full" placeholder="Password" autocomplete="off" name="password" type="password">
          <!-- <label class="pointer-events-none absolute top-1/2 left-3 -translate-y-1/2" for="password">Password</label> -->
        </div>
        <button class="rounded shadow-md px-4 py-2 bg-primary text-nav">LogIn</button>
      </div>
    </div>
  </div>
</section>
