<section class="px-4 py-3 md:px-20">
  <div>
    <div class="bg-secondary text-primary px-4 py-3 shadow">
      <h1 class="font-bold text-2xl md:text-5xl text-center">New Categories</h1>
      <p class=" text-center">You can add new categories here</p>

      <form class="mt-4 md:mt-6" #categoryForm = 'ngForm' (ngSubmit)="onSubmit(categoryForm)">flex justify-end
        <input class="outline-none px-6 py-1 mx-2 w-[60%] md:w-[88%] md:py-2 rounded shadow" type="text" placeholder="Add new categories..." name="category" ngModel>
        <button class=" bg-primary text-secondary text-xs md:text-base px-2 py-2 mt-2 md:py-2 rounded shadow-md">Add Category</button>
      </form>
    </div>
  </div>
</section>
