<section class="px-4 py-3 md:px-20">
  <div>
    <div class="bg-secondary text-primary px-4 py-3 shadow">
      <h1 class="font-bold text-2xl md:text-5xl text-center">New Categories</h1>
      <p class=" text-center">You can add new categories here</p>

      <form class="mt-4 md:mt-6" #categoryForm = 'ngForm' (ngSubmit)="onSubmit(categoryForm)">
        <input
        class="outline-none px-6 py-1 mb-2 mx-2 w-[60%] md:w-[88%] border-2  md:py-2 rounded shadow"
        type="text"
        placeholder="Add new categories..."
        name="category"
        ngModel
        #addCategory="ngModel"
        required
        >
        <button *ngIf="categoryForm.invalid; else error" [disabled]="categoryForm.invalid"  class=" bg-[#02646793] text-secondary text-xs md:text-base px-2 py-2 mt-2 md:py-2 rounded shadow-md">Add Category</button>
        <ng-template #error>
          <button class="bg-primary text-secondary text-xs md:text-base px-2 py-2 mt-2 md:py-2 rounded shadow-md">
            Add Category
          </button>
        </ng-template>
      </form>
      <span class="text-red-600 pt-8 px-4" *ngIf="addCategory.invalid && addCategory.touched" [ngClass]="{'border-red-600' : addCategory.invalid && addCategory.touched}">Please check your input <i class="fa-solid fa-circle-exclamation"></i></span>
    </div>
  </div>

  <div>
    <div class="shadow-lg">
      <div class="flex items-center justify-between px-20 py-5 mb-4 shadow-lg ">
        <h1>No</h1>
        <h1>Category</h1>
        <h1>Action</h1>
      </div>
      <div *ngFor="let item of categoryArray;index as i" class="flex items-center justify-between px-20 py-3 shadow">
        <p>{{i+1}}</p>
        <p>{{item.data.category}}</p>
        <div></div>
      </div>
    </div>
  </div>
</section>
