<section class="px-6 md:px-20">
  <div class="flex items-center gap-10 p-4">
    <div routerLink="/categories" class= "cursor-pointer w-[500px] grid md:gap-2 place-items-center p-4 md:p-8 bg-secondary text-primary">
      <h1><i class="fa-solid fa-list-ul text-2xl md:text-5xl"></i></h1>
      <h2 class="font-bold text-2xl md:text-5xl">Category</h2>
      <p>Manage your category here.</p>
    </div>
    <div routerLink="/posts" class= "cursor-pointer w-[500px] grid md:gap-2 place-items-center p-4 md:p-8 bg-secondary text-primary">
      <h1><i class="fa-solid fa-square-rss text-2xl md:text-5xl"></i></h1>
      <h2 class="font-bold text-2xl md:text-5xl">Posts</h2>
      <p>Manage your post here.</p>
    </div>
  </div>
</section>
