<section class="container mx-auto">
  <div>
    <div class="bg-secondary text-primary px-4 py-3 shadow">
      <h1 class="font-bold text-2xl md:text-5xl text-center"> All Blog post</h1>
      <p class=" text-center">You can manage your posts here</p>
      <div class="flex items-center gap-5 justify-center my-4">
        <button routerLink="/posts/new" class="px-10 py-2 bg-primary text-secondary font-bold rounded">Add new post</button>
        <button routerLink="/" class="px-10 py-2 bg-yellow-600 text-secondary font-bold rounded">Back to dashboard</button>
      </div>
    </div>

    <div>
      <div class="flex items-center px-6 py-4 shadow-xl">
        <div class="flex-1">No</div>
        <div class="flex-[2]">Post Image</div>
        <div class="flex-[3]">Title</div>
        <div class="flex-[5]">Excerpt</div>
        <div class="flex-[2]">Category</div>
        <div class="flex-[2]">Date</div>
        <div class="flex[1]">Actions</div>
      </div>
      <div *ngFor="let post of postArray;index as i" class="flex items-center px-6 py-4 shadow">
        <div class="items-center justify-center gap-2 p-2 flex-1">{{i+1}}</div>
        <div class="items-center justify-center gap-2 p-2 flex-[3]"><img src="{{post.data.postImgPath}}" class="p-4 w-[320px] h-[200px] object-cover object-center shadow-md"></div>
        <div class="items-center justify-center gap-2 p-2 flex-[3]">{{post.data.title}}</div>
        <div class="items-center justify-center gap-2 p-2 flex-[4] truncate">{{post.data.excerpt}}</div>
        <div class="items-center justify-center gap-2 p-2 flex-[2]">{{post.data.category.category}}</div>
        <div class="items-center justify-center gap-2 p-2 flex-[2]">{{post.data.createdAt.toMillis() | date}}</div>
        <div class="items-center justify-center gap-2 p-2 flex[1]">Actions</div>
      </div>
    </div>
  </div>
</section>
